/* CSS base ya existente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #707b7c ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4a4a;
    padding: 50px;
    margin-top: 0px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

header h1 {
    color: white;
    font-size: 1.5rem;
}

.header-title {
    flex: 1;
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 0; /* Sintaxis corregida */
    text-align: center;
    font-size: 1.8rem;
    color: white;
}
.updock-regular {
    font-family: "Updock", cursive;
    font-weight: 400;
    font-style: normal;
}

.text-bienvenido {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
} 

.text-scan{
    color: white
}

.social-media img {
    height: 30px;
    margin-left: 10px;
}

.main-content {
    text-align: center;
    padding: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('imagenesFront/backindex.jpeg');
    background-size: cover;
    background-position: 50% 30% ;
    border: 1px solid #000000;
    margin: 0px;
    position: relative;
}

.main-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.scanner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.scanner-box, .explanation-box, .qr-reader, .qr-reader-results {
    border: 2px solid #ffffff;
    padding: 20px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.scanner-box img {
    height: 200px;
    margin-bottom: 100px;
}

footer {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    width: 100%;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #5d6d7e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color:#34495e;
}

#finalizar-recorrido {
    display: none;
}

#qr-reader {
    width: 300px;  /* Ajusta el tamaño según sea necesario */
    height: 300px;
    position: relative;
    overflow: hidden;
}

.qr-box {
    border: 2px solid #ffffff;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;  /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%);
}


/* Media query para tablets */
@media (min-width: 600px) and (max-width: 900px) {
    .scanner-container {
        flex-direction: column;
    }

    .scanner-box, .explanation-box {
        width: 550px;
        height: 550px;
    }

    .scanner-box img {
        height: 320px;
    }

    header h1 {
        font-size: 2rem;
    }

    .main-content h2 {
        font-size: 2.5rem;
    }
}

/* Media query para celulares */
@media (max-width: 599px) {
    .scanner-container {
        flex-direction: column;
    }

    .scanner-box, .explanation-box{
        width: 180px;
        height: 250px;
    }

    .scanner-box img {
        height: 80px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .main-content h2 {
        font-size: 1.8rem;
    }

    .main-content p {
        font-size: 1rem;
    }
}


