* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('imagenesFront/mnaback-transformed.jpeg'); /* Cambia 'background.jpg' por el fondo que prefieras */
    background-size: cover;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 14px;
    color: #666;
}

.checkbox-group input {
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7f8c8d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color:#34495e;
}