* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    overflow-y: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(167, 166, 166);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
    font-size: 44px;
    font-weight: bold;
}

.logo span {
    color: green;
}

.menu a {
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.menu a:hover {
    color: #000;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trivia-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.options {
    display: grid;
    gap: 10px;
}

#option1, #option2, #option3, #option4 {
    padding: 12px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #7d7d7d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#option1:hover, #option2:hover, #option3:hover, #option4:hover {
    background-color: #45a049;
}
