* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    overflow-y: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
    font-size: 44px;
    font-weight: bold;
}

.logo span {
    color: green;
}

.menu a {
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.menu a:hover {
    color: #000;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trivia-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.options {
    display: grid;
    gap: 10px;
}

.option {
    padding: 12px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #45a049;
}

/* Media query para tablets */
@media (min-width: 600px) and (max-width: 900px) {
    .scanner-container {
        flex-direction: column;
    }

    .scanner-box, .explanation-box {
        width: 550px;
        height: 550px;
    }

    .scanner-box img {
        height: 320px;
    }

    header h1 {
        font-size: 2rem;
    }

    .main-content h2 {
        font-size: 2.5rem;
    }
}

/* Media query para celulares */
@media (max-width: 599px) {
    .scanner-container {
        flex-direction: column;
    }

    .scanner-box, .explanation-box {
        width: 180px;
        height: 250px;
    }

    .scanner-box img {
        height: 80px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .main-content h2 {
        font-size: 1.8rem;
    }

    .main-content p {
        font-size: 1rem;
    }
}




